<div class="seller-auth">
  <div *ngIf="!shownview"  class="sign-up">
    <h1>Seller Sign-Up</h1>
    <form #sellerSignUp="ngForm" (ngSubmit)="signUp(sellerSignUp.value)" class="common-form" method="post">
      <input class="form-input" type="text" ngModel name="Name" placeholder="Enter Name" />
      <input class="form-input" type="text" ngModel name="Email" placeholder="Enter Email" />
      <input class="form-input" type="password" ngModel name="Password" placeholder="Enter Password" />
      <button class="form-button">SignUp</button>
      <a class="auth-link" (click)="openLogin()">Already Have Account? Click to Login</a>
    </form>
  </div>


  <!-- Login Area -->
  <div *ngIf="shownview" class="sign-up">
    <h1>Seller LogIn</h1>
    <form #sellerLogin="ngForm" (ngSubmit)="signUp(sellerLogin.value)" class="common-form" method="post">
      <input class="form-input" type="text" ngModel name="Name" placeholder="Enter Name" />
     <input class="form-input" type="password" ngModel name="Password" placeholder="Enter Password" />
      <button class="form-button">LogIn</button>
      <a class="auth-link" (click)="openSignup()">Don't Have Account? Click to Sign-Up</a>
    </form>
  </div>
</div>
